<html>
<head>
    <title>Department Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />
</head>
<body>
<div class="first-box">
    <h2>All Users</h2>
    <table class="styled-table">
        <thead>
        <tr><th>No</th><th>Name</th></tr>
        </thead>
        <tbody th:each="u, no : ${userList}">
        <tr>
            <td th:text="${no.count}"></td>
            <td ><a th:href="@{/account/{id}(id=${u.getId()})}" th:text="${u.getName()}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
